.root{
  -fx-max-width: 1024.0px;
  -fx-max-height: 768.0px;
  -fx-background-color: linear-gradient(to left, #434343, #000000);
  -fx-background-radius:0.0;
}

.vbox{
   -fx-spacing: 5.0px;
	
}

.hbox{
   -fx-spacing: 5.0px;
	
}

.button{
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.5 , 0.0 , 1.0 );
    -fx-text-fill: #1A1A1D;
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 22.0px;
    -fx-font-weight: bold;
    
}

.button:hover{
	-fx-border-color: black;
	-fx-border-radius: 6.0, 5.0;
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-text-fill: #f2eeee;
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 22.0px;
    -fx-font-weight: bold;
}

.button.exit{
    -fx-background-image: url("File:///C:/G3BiteMe/Design/Images/X.png");
    -fx-background-repeat: stretch;   
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to top, #eb3941, #f15e64, #e14e53, #e2373f);
    -fx-background-position: center center;
}

.button.help{
   -fx-background-image: url("File:///C:/G3BiteMe/Design/Images/Help.png");
    -fx-background-repeat: stretch; 
     -fx-border-color: black;
      -fx-background-color: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed); 
    -fx-background-position: center center;
}

.button.back{
   	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/back.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-color: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);

}


.button.back:hover {
	-fx-background-position: left;
}

.button.next {
   	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/next.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-color: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);

}

.button.next:hover {
	-fx-background-position: right;
}

.button.enter{
	   -fx-background-color: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
}


.button.connect{
	-fx-background-color:
	   linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
}

.button.disconnect{
  	-fx-background-color: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
}


.button.import{
		-fx-background-color:
	linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
}



.label{
	 -fx-font-family: 'Helvetica', Arial, sans-serif;
	 -fx-font-weight: bold;
	 -fx-effect: dropshadow( three-pass-box , rgba(2.0,2.0,2.0,2.0) , 5.0, 0.8 , 0.0 , 1.0 );
	 -fx-text-fill: #f2eeee;
	 -fx-font-size: 20.0px;
	 -fx-alignment: CENTER ; 
}

.label.headLight{
	  -fx-font-size: 50.0px;
}

.label.miniHeadLight{
	-fx-font-size: 28.0px;
}

.label.miniLabel{
	-fx-font-size: 16.0px;
}

.text.spc{
	 -fx-font-family: 'Helvetica', Arial, sans-serif;
	 -fx-font-weight: bold;
	 -fx-effect: dropshadow( three-pass-box , rgba(2.0,2.0,2.0,2.0) , 5.0, 0.8 , 0.0 , 1.0 );
	 -fx-text-fill: #f2eeee;
	 -fx-font-size: 16.0px;
	 -fx-alignment: CENTER ; 
}
.text-field {
    -fx-background-color:
        #f2eeee;
    -fx-background-insets: 0.0, 2.0;
    -fx-background-radius: 6.0,5.0;
     -fx-font-family: 'Helvetica', Arial, sans-serif;
	 -fx-font-weight: bold;
	 -fx-text-fill: black;
	 -fx-font-size: 16.0px;
 }

.text-field:focused {
    -fx-background-color:
        #0093EF,
        #f2eeee;
}

.text-field:hover {
    -fx-background-color:
        #909090,
        #f2eeee;
}

.text-field:focused:hover {
    -fx-background-color:
        #0093EF,
        #f2eeee;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-stroke: transparent;
    -fx-size:35.0;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;
    -fx-text-fill: #f2eeee;
    -fx-background-radius: 6.0,5.0;

}
.table-row-cell:filled:hover {
    -fx-size:25.0;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
    -fx-background-radius: 6.0,5.0;

}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: #C3073F;
    -fx-fixed-cell-size: 30.0;
    -fx-alignment: CENTER;
        -fx-background-radius: 6.0,5.0;
    -fx-text-alignment: center;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
      -fx-text-fill: 1.0A1A1D;
          -fx-background-radius: 6.0,5.0;
}

.text-area{
	-fx-font-family: 'Helvetica', Arial, sans-serif;
	 -fx-font-size: 16.0px;
	 -fx-alignment: CENTER ; 
	  -fx-background-color:
    linear-gradient(to top, #1A1A1D, #C3073F);
    -fx-background-radius: 6.0,5.0;
    -fx-background-insets: 0.0, 1.0;

}


