
/**Font */
@font-face {
    src: url("Montserrat-ExtraBoldItalic.ttf"),
}

.root {
    -fx-font-family: 'Montserrat', sans-serif;
}
.text{
	-fx-text-alignment: center;
}
.button:hover{
	   -fx-cursor: hand;
}

/** ~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@ Layouts ~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@ */
/**~~~~@@@@~ Common ~@@@~~~~~*/

.backButton{
    -fx-background-color: white;
    -fx-background-position: center center;
    -fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.backButton:hover {
	-fx-text-alignment: left;
}

.nextButton{
    -fx-background-color: white;
    -fx-background-position: center center;
    -fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.nextButton:hover {
	-fx-text-alignment: right;
}

.exitButton{
    -fx-background-color: white;
    -fx-background-position: center center;
    -fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
    -fx-font-size: 20px;
   	-fx-font-weight: bold;
}

.helpButton{
    -fx-background-color: white;
    -fx-background-position: center center;
    -fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.errorText{
	-fx-text-alignment: center;
	-fx-font-size: 12px;
	-fx-background-position: center center;
}

.errorTextWhite{
	-fx-text-alignment: center;
	-fx-font-size: 12px;
	  -fx-text-fill: white;
	-fx-background-position: center center;
}

.saveButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/disc.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 80% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.saveWhiteButton{
	-fx-background-color: white;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/savecolor.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 75% 50%;
   	-fx-background-size: 24 24;
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.refreshButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/refresh.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 90% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}
.confirmButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/confirm.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 50% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.denyButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/close.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 50% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.editButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/edit.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 50% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}


.button{
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 2.0, 2.0, 2.0);
	-fx-background-radius: 6,5;
}

.button:hover{
    -fx-border-color: black;
    -fx-border-radius: 6.0, 5.0;
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-font-weight: bold;
}

.topMenuLabel{
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size: 12px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 2.0, 3.0, 3.5);
}

.text-field {

	 -fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	 -fx-font-size: 14.0px;
 }

.text-field:focused {
    -fx-background-color:
        linear-gradient(to bottom, #141e30, #243b55),
        #f2eeee;
}

.text-field:hover {
    -fx-background-color:
        linear-gradient(to bottom, #141e30, #243b55),
        #f2eeee;
}

.text-field:focused:hover {
    -fx-background-color:
        #0093EF,
        #f2eeee;
}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~~~~@@@@ Server @@@@~~~~~*/
.serverExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}
.serverMainPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
}

.serverConnectButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.serverDisconnectButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.serverImportButton{
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/import.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center;
    -fx-background-position: 1.5% 50%;
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.serverHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 40px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}

.serverLabels{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 18px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-underline: true;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 1.0, 1.0, 0);
 	
}

.serverConsoleClinetsLabels{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 24px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-underline: true;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 1.0, 1.0, 0);
 	
}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~@@ IP Confirmation @@~~*/
.ipExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}
.ipMainPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
}

.ipConfirmButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/key.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center;
    -fx-background-position: 25% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.ipConfirmHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 32px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/**~~@@ Home Screen @@~~*/
.homeExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 50%;
	-fx-background-size: 300 150;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}

.homeEnterButton{
	-fx-background-color: white;

	-fx-alignment: center;
    -fx-background-position: 25% 50%;
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;


}
.homeMiniHeadLight{
	-fx-text-fill: white;
	-fx-font-size: 24px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}
.homeHeadLight{
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size: 50px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~~~@@ Login Screen @@~~~~*/

.loginExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}
.loginMainPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
}

.loginButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/outline_login_white_24dp.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 30% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.loginLabels{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-underline: true;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 1.0, 1.0, 0);
 	
}

.loginHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 32px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}

.loginBundleVBOX{
	-fx-spacing: 0;
	-fx-alignment: top-left;
	-fx-fill-width: true;
}

/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~~~@@ User Portals @@~~~~*/

.userPortalExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}

.userPortalLeftPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
}

.userPortalTopPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 0%;
	-fx-background-size: 48 48;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/account.png");
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
}

.userPortalMainPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
}

.userPortalLogoutButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logout.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 20% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.userPortalMainButtonsManage{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/manage.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: top-center; 
    -fx-background-position: 50% 90%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
}

.userPortalMainButtonsRegister{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/addUser.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: top-center; 
    -fx-background-position: 50% 90%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
}

.userPortalMainButtonsOrder{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/cart.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: top-center; 
    -fx-background-position: 50% 90%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
}

.userPortalMainButtonsView{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/report.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: top-center; 
    -fx-background-position: 50% 90%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:18px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
}

.userPortalMainButtonsAddReport{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/addNote.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: top-center; 
    -fx-background-position: 50% 90%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:18px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
}
.userPortalsBundleVBOX{
	-fx-spacing: 15;
	-fx-padding: 15;
	-fx-alignment: top-left;
	-fx-fill-width: true;
}

.userPortalLabel{
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
}

.userPortalWelcomeLabel{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
}

.userPortalStatusLabel{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 16px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
}

.userPortalStatusTypeLabel{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 12px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.22), 0.1, 4.0, 3.0, 4.0);
}

.userPortaluserNameLabel{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size:22px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.22), 0.1, 4.0, 3.0, 4.0);
	-fx-text-alignment: center;
}

.userPortalRetsturantNameLabel{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size:22px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.22), 0.1, 4.0, 3.0, 4.0);
	-fx-text-alignment: center;
}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~@@ W4C Identification @@~*/

.W4CExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}

.W4CLabels{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 16px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 1.0, 1.0, 0);
 	
}

.QRButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/QR.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 50% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.W4CHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 30px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}

.W4CBranchLabel{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 24px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/**~@@ Choose Restaurant @@~~*/

.chooseRestuExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}

.chooseRestuMainPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 35%;
	-fx-background-size: 36 36;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/restaurant.png");
}

.chooseRestuHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 30px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~~~@@ Item Selection @@~~~~*/
.itemSelectionExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}

.itemSelectionMainHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 30px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}

.itemSelectionMenuPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
}

.itemSelectionMenuHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 30px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}

.itemSelectionCartPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
}


.itemSelectionCartHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 30px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}

.itemSelectionAddToCartButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/addToCart.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 50% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.itemSelectionRemoveFromCartButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/removeFromCart.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 50% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.itemSelectionPricePane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 4, 2.0, 0.0, 2.0);
}

.itemSelectionCartAndOrderPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
}

.itemSelectionPriceLabel{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 20px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-underline: true;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}

.itemPriceTextField{
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 16px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.25), 0.5, 0, 0, 0.5);
	-fx-background-insets: 0.8, 3.0;
}

/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~~~@@ Supply @@~~~~*/
.supplyExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}

.supplyMainPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
}

.supplyLabels{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 1.0, 1.0, 0);
 	
}

.supplyHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 30px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}

/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~~~@@ Delivery @@~~~~*/
.deliveryExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}

.deliveryMainPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
}

.deliveryLabels{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 1.0, 1.0, 0);
 	
}

.deliveryHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 30px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~@@ Order Summary @@~*/
.proceedToPaymentButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~~@@ Payment Config @@~~~*/
.finishOrderButton{
	-fx-background-color: white;
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.addOrRemoveAmountButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:14px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~~~@@ Registration @@~~~~*/
.regiExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}

.regiRegularButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:16px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.creditCardPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 2%;
	-fx-background-size: 48 48;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/card.png");
}

.cvvPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 0%;
	-fx-background-size: 30 30;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/cvv.png");
}

.budgetPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 2%;
	-fx-background-size: 48 48;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/budget.png");
}

.companyPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 2%;
	-fx-background-size: 48 48;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/company.png");
}

.credentialsPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 2%;
	-fx-background-size: 48 48;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/credentials.png");
}

.personalContanctInfoPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 2%;
	-fx-background-size: 48 48;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/contactInfo.png");
}

.personalInfoPane{
	-fx-background-color:white;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 25.0, 3.0, 4.0);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 2%;
	-fx-background-size: 48 48;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/pInfo.png");
}

/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~~~@@ Employees Confirmation @@~~~~*/
.employeeLabels{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-underline: true;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 1.0, 1.0, 0);
 	
}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/**~~~~@@ Reports @@~~~~*/
.reportsSmallExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 5%;
	-fx-background-size: 130 65;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}

.reportsBigExternalPane{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-repeat: stretch;   
	-fx-background-position: 50% 6%;
	-fx-background-size: 150 75;
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/logo.png");
}


.regiViewButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.uploadReportButton{
	-fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/upload2.png");
	-fx-background-repeat: stretch;  
	-fx-alignment: center; 
    -fx-background-position: 50% 50%;
	-fx-text-fill: white;
	-fx-font-weight:bold;
	-fx-font-size:14px;
	-fx-font-smoothing-type: lcd;
	-fx-background-radius: 6,5;

}

.viewHeadLight{
	-fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 28px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.5, 0, 0, 0.5);
}
/**~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/** ~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@ Combo-Box ~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@ */

.combo-box .list-cell 
{
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-font-weight:bold;
	-fx-font-size: 14px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
    -fx-padding: 3 2 2 7;
    -fx-cell-size: 2em; 
	-fx-border-color: linear-gradient(to bottom, #141e30, #243b55);
}

.combo-box-popup .list-view 
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
   	-fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.5), 0.1, 5.0, 3.0, 4.0);
}

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}    

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-base  
{
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 0, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{  	-fx-border-color: linear-gradient(to bottom, #141e30, #243b55);
    -fx-border-radius: 6.0, 5.0;
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-font-weight: bold;
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: white, -fx-outer-border, -fx-inner-border, white;
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/** ~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@ Table-View ~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@ */

.table-view{
    -fx-table-cell-border-color: linear-gradient(to bottom, #141e30, #243b55);
    -fx-border-color: linear-gradient(to bottom, #141e30, #243b55);
    -fx-font-size: 14px;
    -fx-text-weight: Bold;
    -fx-padding: 0;

}
.table-view:focused{
  -fx-table-cell-border-color: linear-gradient(to bottom, #141e30, #243b55);
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #141e30, #243b55);
    -fx-table-cell-border-color: linear-gradient(to bottom, #141e30, #243b55);
    -fx-background-radius: 5px 5px 0px 0px;
    -fx-background-insets: 0 5px 0 0;
}

.table-view .column-header-background .label{
    -fx-font-size: 14px;
    -fx-text-fill: linear-gradient(to bottom, #141e30, #243b55);
	-fx-text-alignment: center;
    -fx-font-weight: Bold;
}
.table-view .table-cell{
    -fx-table-cell-border-color: transparent;
    -fx-text-fill:linear-gradient(to bottom, #141e30, #243b55);
    -fx-font-size: 12px;


}
.table-row-cell:selected {
	
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #141e30, #243b55);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to bottom, #141e30, #243b55);
}

/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/** ~~~~@@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~ Dialog-Pane ~~~@@@~~~@@@~~~@@@~~~@@@~~~@@@~~~~@@@@ */
 .dialog-pane{
  -fx-border-color:linear-gradient(to bottom, #141e30, #243b55);
  -fx-border-width:20.0px;
  -fx-background-radius: 6,5;
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {

}
.dialog-pane > .content.label {
   -fx-text-fill:linear-gradient(to bottom, #141e30, #243b55);
   -fx-font-size: 14px;
   -fx-font-weight: bold;
   -fx-text-alignment: left;
   -fx-padding: 20;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
}

.dialog-pane:header .header-panel .label{
  -fx-background-radius: 6,5;
  -fx-text-fill:linear-gradient(to bottom, #141e30, #243b55);
  -fx-font-size:14px;
}

/**Costumization of Buttons**/
.dialog-pane .button{
   -fx-background-color:linear-gradient(to bottom, #141e30, #243b55);
   -fx-background-alignment: left;
   -fx-text-fill: white;
 }

.dialog-pane.button:hover{     
  -fx-font-weight: bold; 
 }
 /** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */