
.root{
  -fx-max-width: 1024px;
  -fx-max-height: 768px;
  -fx-background-color:
  linear-gradient(to top, #1A1A1D, #C3073F);
  -fx-background-radius:0;
}

.pane{
}

.vbox{
   -fx-spacing: 5px;
	
}

.hbox{
   -fx-spacing: 5px;
	
}

.button{
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #1A1A1D;
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button:hover{
	-fx-border-color: black;
	-fx-border-radius: 6, 5;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button.exit{
    -fx-background-image: url("File:///C:/G3BiteMe/Design/Images/X.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
}

.button.help{
   -fx-background-image: url("File:///C:/G3BiteMe/Design/Images/Help.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
}

.button.back{
   	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/back.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;

}


.button.back:hover {
	-fx-background-position: right;
}

.button.next {
   	-fx-background-image: url("File:///C:/G3BiteMe/Design/Images/next.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;

}


.button.next:hover {
	-fx-background-position: right;
}


.button.connect{
	
}

.button.disconnect{
	
}

.button.importData{
	 -fx-font-size: 18px;
}

.label{
	 -fx-font-family: 'Helvetica', Arial, sans-serif;
	 -fx-font-weight: bold;
	 -fx-effect: dropshadow( three-pass-box , rgba(2,2,2,2) , 5, 0.8 , 0 , 1 );
	 -fx-text-fill: #FFFFFF;
	 -fx-font-size: 20px;
	 -fx-alignment: CENTER ; 
}

.label.headLight{
	  -fx-font-size: 50px;
}

.label.miniHeadLight{
	-fx-font-size: 28px;
}

.label.miniLabel{
	-fx-font-size: 16px;
}


.text-field {
    -fx-background-color:
        #FFFFFF;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 6,5;
 }

.text-field:focused {
    -fx-background-color:
        #0093EF,
        #FFFFFF;
}

.text-field:hover {
    -fx-background-color:
        #909090,
        #FFFFFF;
}

.text-field:focused:hover {
    -fx-background-color:
        #0093EF,
        #FFFFFF;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-stroke: transparent;
    -fx-size:35;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-background-radius: 6,5;

}
.table-row-cell:filled:hover {
    -fx-size:25;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
    -fx-background-radius: 6,5;

}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: #C3073F;
    -fx-fixed-cell-size: 30;
    -fx-alignment: CENTER;
        -fx-background-radius: 6,5;
    -fx-text-alignment: center;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
      -fx-text-fill: 1A1A1D;
          -fx-background-radius: 6,5;
}

.text-area{
	-fx-font-family: 'Helvetica', Arial, sans-serif;
	 -fx-font-size: 16px;
	 -fx-alignment: CENTER ; 
	  -fx-background-color:
    linear-gradient(to top, #1A1A1D, #C3073F);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0, 1;

}




